{% extends "template.html" %}
{% block content %}
		<form class="content">
			<table>
				<tr>
					<th class="transparent"></th>
					<th>Show Name</th>
					<th>Tickets Available</th>
				</tr>
				{% for item in search_query: %}
				<tr>
					<td class="transparent"><input type="radio" name="show"></td>
					<td>{{ item.name }}</td>
					<td>{{ item.available }}</td>
				</tr>
                {% endfor %}
				<tr>
					<table>
						<td class="transparent"></td>
						<td class="transparent"></td>
						<td><input type="text" placeholder="No. of tickets" align="center"></td>
						<td class="transparent"><button type="button">Buy</button></td>
					</table>
				</tr>
			</table>
		</form>
{% endblock %}