{% extends "template.html" %}
{% block content %}
		<div class="content">
			<table>
				<tr>
					<th>Show Name</th>
					<th>Tickets Sold</th>
					<th></th>
				</tr>
				{% for item in search_query: %}
    			    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.capacity - item.available}}</td>
						<td><form action="/delete" method="post"><input type="text" name="name" value="{{ item.name }}"><input type="submit" value="Delete"></form></td>
                    </tr>
                {% endfor %}
			</table>
		</div>
{% endblock %}
