{% extends "template.html" %}
{% block content %}
		<div class="content">
			<table>
				<tr>
					<th>Show Name</th>
					<th>Tickets Sold</th>
				</tr>
				{% for item in search_query: %}
    			    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.capacity - item.available}}</td>
						<td class="transparent"><form action="/delete" method="post"><input type="text" value={{ item.key.urlsafe() }} name="id" hidden><button class="transparent" type="submit">Delete</button></form></td>
                    </tr>
                {% endfor %}
			</table>
			{% for item in message: %}
			<p class="message"> {{ item.msg }} </p>
		    {% endfor %}
		</div>
{% endblock %}
