{% extends "template.html" %}
{% block content %}
		<div class="content">
			<table>
				<tr>
					<th>Show Name</th>
					<th>Tickets Sold</th>
				</tr>
				<tr>
					<td>Dunkirk</td>
					<td>110</td>
					<td class="transparent"><button type="button" class="del"><img src="images/remove.png" alt="delete" class="delIcon"></button></td>
				</tr>
				<tr>
					<td>Wonder Woman</td>
					<td>220</td>
					<td class="transparent"><button type="button" class="del"><img src="images/remove.png" alt="delete" class="delIcon"></button></td>
				</tr>
				<tr>
					<td>Tik Tik Tik</td>
					<td>330</td>
					<td class="transparent"><button type="button" class="del"><img src="images/remove.png" alt="delete" class="delIcon"></button></td>
				</tr>
			</table>
		</div>
{% endblock %}