<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel = "stylesheet" type = "text/css" href = "stylesheets/style.css" />
	</head>
	<body>
		<header>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="buy.html">Buy tickets</a></li>
				<li><a href="sold.html">Sold ticket details</a></li>
				<li><a href="add.html">Add show</a></li>
				<li class="currentTab"><a href="remove.html">Remove show</a></li>
			</ul>
		</header>
		<div class="content">
			<table>
				<tr>
					<th>Show Name</th>
					<th>Tickets Sold</th>
				</tr>
				{% for item in search_query: %}
    			    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.capacity - item.available}}</td>
						<td class="transparent"><form action="/remove" method="post"><input type="text" value={{ item.key.urlsafe() }} name="id" hidden><button class="transparent" type="submit">Remove</button></form></td>
                    </tr>
                {% endfor %}
			</table>
			{% for item in message: %}
			<p class="message"> {{ item.msg }} </p>
		    {% endfor %}
		</div>
	</body>
</html>